
.canban-card {
    max-width: 400px;
    margin: 4px;
    background-color: #fff;
    font-size: 10px;
    margin-left: 8px;
    color: #575757;
    .canban-center-row{
        font-weight: bold;
    }
    .list-class {
        padding-left: 0;
        li{
            font-size: 13px;
            span{
                font-size: 12px;
                color: #575757;
                padding: 0 3px;
            }
        }
        
    }
    .card-tags{
        position: absolute;
        top: 37px;
        left: 7px
    }
}
