.serch-input{
    width: 75%;
    background: #f5f9fc;
    border: none;
    height: 36px;
    border-radius: 4px;
    padding: 0 20px;
    display: inline-block
}
.select-input{
    display: inline-block;
    height: 37px;
    border: none;
    background: #f5f9fc;
    color: #575757;
    margin: 0 5px;
}
