<form style="padding-top: 20px;">
    <div>
        <select name="filter" class="select-input">
            <option>Sort</option>
            <option value="sort1">Value 1</option>
            <option value="sort2">Value 2</option>
            <option value="sort3">Value 3</option>
          </select>
        <select name="filter" class="select-input">
            <option>Filter</option>
            <option value="val1">Value 1</option>
            <option value="val2">Value 2</option>
            <option value="val3">Value 3</option>
          </select>
        <input class="serch-input" type="text" placeholder="Customer Name/Phone No./Reg No.">
    </div>
    
</form>
